/*-- General --*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color:#45545E;
    line-height: 1.5;
    position: relative;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}

section {
    padding-top: 2rem;
    position: relative;
}

.section-title-heading {
    font-weight: 600;
}

/*-- Button --*/

.btn-orange {
    background: #E56138;
    color: #fff;
    border-width: 1px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 0.75rem 1.75rem;
}
.btn-orange:hover {
    background: #B53C17;
    color: #fff;
} 

/*-- Background Color --*/

.bg-gray-green {
    background-color: #9BAAAB;
}

.bg-cream {
    background-color: #F0E4D8;
}

.bg-orange {
    background-color: #5C5C5C;
}

.bg-light-green {
    background-color: #DBE9DF;
}

/*-- Navbar --*/

.navbar img {
    height: 30px;
    width: auto; 
}

.font-brand {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    color: #232B2F;
}

.navbar-light .navbar-nav .nav-link {
    color: #232B2F;
    margin-bottom: 0.125rem;
}

.nav-item:hover,
.nav-item > .active {
    background-color: #DBE9DF;
    border-radius: 5px;
}

/*-- Header & Hero --*/

.header-container {
    margin-top: 30px;
    height: 100vh;
    background: url(../images/hero-image.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll; 

    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.jumbotron {
    background-color: rgba(255,255,255,0.8);
    margin-left: 1rem;   
    margin-right: 1rem;
}

.jumbotron-header {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.0;
    color:#45545E;
}

.jumbotron-subheader {
    font-weight: 400;
    color:#45545E;
}

/*-- Section 1: About Us --*/

/*-- Subsection: Who We Are --*/

.about-text {
    text-align: center;
    color:#45545E;
    margin: 1.25rem 0;
}

.blockquote {
    font-family: 'Merriweather', serif;
}

/*-- Subsection: Why Shop With Us --*/

.card {
    border: none;
}

.card-img-top {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 350px; 
    margin: auto;
}

.card-title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

/*-- Section 2: Products --*/

.carousel-item img {
    display: block;
    width: 100%;
    height: auto;
}

.products-text {
    padding: 5rem 1rem;
}

#products li {
    list-style: none;
}

.badge-styling {
    background-color: #43787b;
    color: #fff;
    font-size: 85%;
    font-weight: 500;
}

/*-- Section 3: How To Shop --*/

/*-- Subsection: 3 Steps --*/

.howtoshop-container i,
.faq-container i {
    color: #E86F4A;
}

.faq-container .question {
    font-size: 1.25rem;
    font-weight: 500;
}

.faq-container .btn {
    border: 1px solid #c7b0a7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
}

.faq-container .btn:hover {
   background-color: #F0E4D8;
}

.faq-container .btn i:hover {
    color: #8d3e26;
}

.faq-container .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

/*-- Subsection: Did you know --*/

#did-you-know {
    color: #fff;  
}

.input-mailinglist {
    border-style: none;
    padding: 0.5rem;
}

/*-- Section 4: Contact --*/

.contact-container {
    background: url(../images/the-shop.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}

.overlay {
    background-color: rgba(255,255,255,0.9);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/*-- Section 5: Find Us --*/

.map-wrapper {
    width: 500px;
    height: 320px;
}

.map-wrapper > iframe {
    width: 100%;
    height: 100%;
    border-style: none;
}

/*-- Footer --*/

footer .nav-link {
    padding: 0;
}

#footer a,
#footer li {
    color: #232B2F;
}

#footer i {
    font-size: 1.5rem;
}

#footer a > img {
    width: auto; 
    height: 20px; 
}

/*-- Media Queries --*/

/* For very narrow mobiles (galaxy fold, iphone 5, iphone se) */
@media screen and (max-width: 350px) {
    .navbar img {
        height: 20px;
        width: auto; 
    }
    .navbar-brand {
        font-size: 1rem;
    }
}

/* For small devices, landscape phone, or less */
@media screen and (max-width: 576px) {
    .jumbotron-header {
        font-weight: 600;
        font-size: 2rem;
    }
}

/* For medium to large devices (tablets to desktop) */
@media screen and (min-width: 992px) and (max-width: 1599.99px) {
    .jumbotron {
        max-width: 50vw;
    }
}

/* For large devices (desktop) and up */
@media screen and (min-width: 992px) {
    .header-container {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .jumbotron {
        background-color: rgba(255,255,255,0.5);
    }
    .header-container {
        background-attachment: fixed;
    }
}

/* For extra wide monitor and up */
@media screen and (min-width: 1600px) {
    .jumbotron {
        margin-right: 4rem;
        max-width: 40vw;
    }
}
