body {
    font-family: 'Robotto', sans-serif;
    color:#45545E;
}

/* button */
.btn-orange {
    background-color: #E86F4A;
    color: #fff;
    border-radius: 1rem;
}

.btn-orange:hover {

}

/* background color */

.bg-green {
    background-color: #9BAAAB;
}

.bg-cream {
    background-color: #F0E4D8;
}

/* Navbar */

.font-brand {
    font-family: 'Poppins', sans-serif;
}

/* Header */

.header-container {
    margin-top: 30px;
    height: 100vh;
    background: url(../images/hero-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  
}

.jumbotron {
    background-color: transparent;
    text-align: right;
    
}

.jumbotron-header {
    text-transform: uppercase;
    color:#45545E;
}

.jumbotron-subheader {
    color:#45545E;
}


/* Section 1: About Us */
.about-text {
    text-align: center;
    color:#45545E;
    margin: 20px 0;
}

.section-title-heading {
    font-family: 'Open Sans', sans-serif;
    margin-top: 8rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

/*Section2: Products */
.products-image {
    width: 100%;
}


.products-text-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Section 3: How To Shop */

#how-to-shop i {
    color: #E86F4A;
}

