body {
    font-family: 'Robotto', sans-serif;
    color:#45545E;
}

.section-title-heading {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

/* button */
.btn-orange {
    background-color: #E86F4A;
    color: #fff;
    border-radius: 10px;
    padding: 5px 20px;
    border: 2px solid #fff;
}

.btn-orange:hover {

}

/* background color */

.bg-green {
    background-color: #9BAAAB;
}

.bg-cream {
    background-color: #F0E4D8;
}

.bg-orange {
    background-color: #E86F4A;
}

/* Navbar */

.font-brand {
    font-family: 'Poppins', sans-serif;
}

/* Header */

.header-container {
    margin-top: 30px;
    height: 100vh;
    background: url(../images/hero-image.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  
}

.jumbotron {
    background-color: transparent;
    text-align: right;
    
}

.jumbotron-header {
    text-transform: uppercase;
    color:#45545E;
}

.jumbotron-subheader {
    color:#45545E;
}


/* Section 1: About Us */
.about-text {
    text-align: center;
    color:#45545E;
    margin: 20px 0;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 10px;
}
.card-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

/*Section2: Products */


.products-image {
    width: 100%;
    max-height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: round;
}

.products-text-container {
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





/* Section 3: How To Shop */

#how-to-shop i {
    color: #E86F4A;
}

.faq-container i {
    color: #45545E;
}


/* Subsection: Did you know */

#did-you-know {
    color: #fff;  
}

.input-mailist {
    border-style: none;
    padding: 5px;
}
